.root {
  padding: 1rem;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 12rem;
  border: 1px solid gray;
  padding: 2rem;
}

label {
  padding-top: .2rem;
  padding-bottom: .2rem;
}

button {
  margin-top: 1rem;
}
